* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-VariableFont_wght.ttf") format(truetype);
}
@font-face {
  font-family: "CaveatBrush";
  src: url("fonts/CaveatBrush-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_opsz\,wght.ttf") format(truetype);
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  max-height: 60px;
  height: 100%;
  background-color: black;

  img {
    height: 100%;
    padding: 5px;
  }

  h2,
  h3 {
    color: #39ff14;
  }
  .logo {
    display: flex;
    gap: 10px;

    .logo-texto {
      font-family: "JetBrains Mono";
      margin-top: 10px;
      align-items: center;
      h2 {
        font-size: 15px;
      }
      h3 {
        font-size: 10px;
      }
    }
  }

  .card-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 15px;
    font-family: "JetBrains Mono";
    a {
      text-decoration: none;
      color: aliceblue;
    }
    .card-header {
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding: 3px;
      width: 120px;
      text-align: center;
    }
  }

  #status {
    background-color: #ff00a8;
  }
}

main {
  background-color: #faf6ee;

  .inicio-container {
    display: flex;
    height: 690px;
    width: 100%;
    .primeiro-bloco {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-left: 3%;
      h3 {
        background-color: black;
        color: #39ff14;
        font-family: "JetBrains Mono";
        font-size: 11px;
        max-width: 210px;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
      }
      h1 {
        font-family: "JetBrains Mono";
        font-weight: 1000;
        font-size: 50px;
      }
      h4 {
        font-family: "Inter";
        font-size: 16px;
        font-weight: 300;
      }

      .texto-meio {
        display: flex;
        gap: 15px;
        h2 {
          font-family: "CaveatBrush";
          color: #ff00a8;
          font-size: 36px;
        }
        h6 {
          font-weight: 1000;
          font-size: 50px;
          margin-top: -30px;
        }
        h5 {
          color: #d27d56;
          font-family: "JetBrains Mono";
          display: flex;
          align-self: center;
          font-size: 14px;
        }
      }

      .container-botoes-inicio {
        display: flex;
        gap: 20px;
        .botoes-inicio {
          font-family: "JetBrains Mono";
          font-weight: 600;
          border: 2px solid;
          padding: 10px;
          font-size: 13px;
          border-radius: 5px;
          border-color: black;
          margin-top: 20px;
        }
        .botao-inicio-azul {
          background-color: #00f0ff;
          color: black;
        }
        .botao-inicio-rosa {
          background-color: #ff00a8;
          color: #faf6ee;
        }
      }
    }

    .segundo-bloco {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin: 100px;
      #img-inicio {
        border: 3px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  .titulo-card-model {
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    .texto-card-model{
      color: #faf6ee;
      font-family: 'JetBrains Mono';
      font-size: 12px;
      padding: 7px;
    }
    .bolinha-rosa{
      background-color: #ff00a8;
    }
  }
}
/*desktop*/
@media (min-width: 1281px) {
}

/*tablet portrait*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*celular portrait*/
@media (min-width: 320px) and (max-width: 480px) {
}
